.admin-login-page {
    height: 100vh;
    padding: 40px;
    
  }
  
  
  .logo {

    max-width: 600px;  
    height: 30%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);  /* Subtle shadow */
    border-radius: 30%;
    animation: zoomOutLogo 1.5s ease-out forwards;
    animation-delay: 0.5s;
  }
  
  
  .login-container {
    margin-left: 50vh;
    max-width: 400px;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .login-container h3 {
    margin-bottom: 30px;
    color: #12324d;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input:focus {
    outline: none;
    border-color: #12324d;
    box-shadow: 0 0 5px rgba(18, 50, 77, 0.5);
  }
  
  .btn-signin {
    
    padding: 15px;
    background-color: #424445;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
  }

  ion-button{
    --background: #424445;
  }
  
  .btn-signin:hover {
    background-color: #0f2e3d;
  }
  
  
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  .content-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align content towards the right */
    gap: 50px; /* Space between the logo and login container */
    width: 90%; /* Adjust the width to make room for both sections */
  }
  
  .login-container {
    margin-right: 50px; /* Push the login container slightly to the right */
  }
  :host {
    display: block;
    animation: fadeIn 0.8s ease-in; 
  }
  
  .alert {
  color: red;
  font-weight: bold;
  }
  
  
  
  .loading-content {
    color: white;
  }
  
  .spinner {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    border: 4px solid #ffffff;
    border-top: 4px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .error-message {
    color: red;
    font-weight: bold;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  